.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: var(--green); */

  font-weight: 600;
  color: gainsboro;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.waterfallContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.color-maroon {
  background-color: #852a2f;
}

.color-blue {
  background-color: #526283;
}

.color-green {
  background-color: #578266;
}

.color-brown {
  background-color: #72693e;
}

.color-grey {
  background-color: #83878a;
}

.circle {
  background-color: green;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  opacity: 0.3;
}

.circle.sm {
  width: 30px;
  height: 30px;
}

.circle.md {
  width: 60px;
  height: 60px;
}

.circle.lg {
  width: 90px;
  height: 90px;
}
